@using System.ComponentModel.DataAnnotations
@inherits BaseItem

<div Uid="@Uid" class="tb-integrationslot @CssClass"
     ondragover="event.preventDefault()"
     @ondragenter="HandleOnDragEnter"
     @ondragleave="HandleOnDragLeave"
     @ondrop:stopPropagation
     @ondrop="HandleOnDrop">
     
     @if (Iface != null) {
          <Interface Uid="@Iface.Uid" Parent="@this.Parent" Title="@Iface.Title" Instance="@Iface"></Interface>
     } 
     
</div>  

