@using Telerik.Blazor.Components.Common.Layout
@inherits BaseClass

<div class="tb-group tb-item tb-draggable tb-contextmenu @CssClass @CssSelect"
     draggable="true"
     ondragover="event.preventDefault()"
     @ondragstart:stopPropagation
     @ondragstart="@(() => HandleOnDragStart(this))"
     @ondragend="HandleOnDragEnd"
     @ondragenter="(()=>HandleOnDragEnter(this))"
     @ondragleave="(()=>HandleOnDragLeave(this))"
     @ondrop:stopPropagation
     @ondrop="HandleOnDrop"
     @oncontextmenu:stopPropagation
     @oncontextmenu:preventDefault="true"
     @oncontextmenu="@( (MouseEventArgs e) => ContextMenuRef.ShowMenu(e, Guid, this))">

    <div id="@Guid" contenteditable="@IsEditable" @onclick="(() => IsEditable=true)" onblur="HandleOnBlur(this)">@Title</div>


    @foreach (var item in GroupItems) {
        if (Is<Group>(item)) {
            <Group Guid=@item.Guid 
                   Title=@item.Title 
                   GroupItems=@((item as Group).GroupItems) 
                   Parent=@item.Parent 
                   CssClass=@item.CssClass
                   @key=@item.Guid></Group>
        }
        else if (Is<Interface>(item)) {
            <Interface Guid=@item.Guid 
                       Title=@item.Title 
                       Parent=@item.Parent
                       CssClass=@item.CssClass
                       @key=@item.Guid></Interface>
        }

    }


</div>