@using System.Timers
@inherits IntegrationField

<div id="@DomId.ToString()" draggable="true" class="tb-integrationnode tb-draggable tb-contextmenu @CssClass @CssSelect"
     @ondragenter:stopPropagation
     @ondragenter="@(()=>HandleOnDragEnter(this))"
     @ondragstart:stopPropagation
     @ondragstart="@(() => HandleOnDragStart(this))"
     @ondragleave:stopPropagation
     @ondragleave="@(() => HandleOnDragLeave(this))"
     @ondragend="HandleOnDragEnd"
     @ondragover:stopPropagation
     @ondrop:stopPropagation
     @ondrop="HandleOnDrop"
     @oncontextmenu:stopPropagation
     @oncontextmenu:preventDefault="true"
     @oncontextmenu="@( (MouseEventArgs e) => ContextMenuRef.ShowMenu(e, Guid, this))">

    <div id="@Guid" class="text-center" contenteditable="@IsEditable" 
         @onclick="(() => IsEditable=true)"
         onblur="HandleOnBlur(this)">@Title</div>

    <div class="tb-flex tb-interfaceslots">
        <div>
            
            <InterfaceSlot DomId="Left" Position="0" Parent="this"></InterfaceSlot>
            
        </div>
        <div class="flex-column InterfaceSlots">

            
            <InterfaceSlot DomId="RightTop" Position="1" Parent="this" CssClass=@(Interfaces[(int) InterfaceSlotPosition.RightTop] == null ? "tb-hidden" : "") @ref=@EventState.RightTop></InterfaceSlot>
            
            <InterfaceSlot DomId="Right" Position="2" Parent="this" CssClass=@(Interfaces[(int) InterfaceSlotPosition.Right] == null && (Interfaces[(int) InterfaceSlotPosition.RightTop] != null || Interfaces[(int) InterfaceSlotPosition.RightBottom] != null) ? "tb-hidden" : "")></InterfaceSlot>

            <InterfaceSlot DomId="RightBottom" Position="3" Parent="this" CssClass=@(Interfaces[(int) InterfaceSlotPosition.RightBottom] == null ? "tb-hidden" : "") @ref=@EventState.RightBottom></InterfaceSlot>
            

        </div>
    </div>
    <div class="tb-flex-column">

        @foreach (var node in GroupItems.Cast<IntegrationNode>()) {
            <IntegrationNode Title=@node.Title 
                             DomId=@node.DomId 
                             Guid=@node.Guid 
                             GroupItems=@node.GroupItems 
                             Interfaces=@node.Interfaces 
                             Parent=@node.Parent 
                             @key=@node.Guid 
                             CssClass=@node.CssClass></IntegrationNode>
        }

    </div>

</div>

