@inherits IntegrationField

<div draggable="true" class="tb-integrationnode tb-draggable @CssClass @CssSelect"
     ondragover="event.preventDefault()"
     @ondragstart:stopPropagation
     @ondragstart="@(() => HandleOnDragStart(this))"
     @ondragend="HandleOnDragEnd"
     @ondrop:stopPropagation
     @ondrop="HandleOnDrop">

    @Title

    <br/>

    <div class="tb-flex">
        <div>
            <InterfaceSlot Position="0" Parent="@(this)"></InterfaceSlot>
        </div>
        <div class="flex-column InterfaceSlots">
            
             
            <InterfaceSlot DomId="RightTop" Position="1" Parent="@(this)" CssClass="tb-hidden" @ref=EventState.RightTop></InterfaceSlot>
            

            <InterfaceSlot DomId="Right" Position="2" Parent="@(this)"></InterfaceSlot>

             
            <InterfaceSlot DomId="RightBottom" Position="3" Parent="@(this)" CssClass="tb-hidden" @ref=EventState.RightBottom></InterfaceSlot>
            

        </div>
    </div>
    <div class="flex-column">

        @foreach (var node in IntegrationNodes) {
            <IntegrationNode Guid=@node.Guid Interfaces=@node.Interfaces Parent=@(this) @key=@node.Guid></IntegrationNode>
        }

    </div>

</div>