@using System.Timers;
@using System.Reflection.Metadata.Ecma335
@inherits BaseClass

<div draggable="true" class="tb-interface tb-item tb-draggable tb-contextmenu @CssClass @CssSelect"
     @ondragstart:stopPropagation
     @ondragstart="@(() => HandleOnDragStart(this))"
     @ondragend="HandleOnDragEnd"
     @oncontextmenu:preventDefault="true"
     @oncontextmenu:stopPropagation
     @oncontextmenu="@( (MouseEventArgs e) => ContextMenuRef.ShowMenu(e, Guid, this))">

    <div id="@Guid" class="text-center" contenteditable="@IsEditable" 
         @onclick="(() => IsEditable=true)" 
         onblur="HandleOnBlur(this)">@Title</div>

</div>

